@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Pixel';
		src: url('/fonts/font.ttf');
	}
	@font-face {
		font-family: 'LoveloBlack';
		src: url('/fonts/Lovelo-Black.woff') format('woff'),
			url('/fonts/Lovelo-Black.woff2') format('woff2');
	}
	@font-face {
		font-family: 'LoveloLB';
		src: url('/fonts/Lovelo-LineBold.woff') format('woff'),
			url('/fonts/Lovelo-LineBold.woff2') format('woff2');
	}
	@font-face {
		font-family: 'LoveloLL';
		src: url('/fonts/Lovelo-LineLight.woff') format('woff'),
			url('/fonts/Lovelo-LineLight.woff2') format('woff2');
	}

	:root {
		--color-white: #fff;
		--time-animation: 0.6s;
		--color-text: #000;
		--color-text-alt: #000;
		--color-bg: #de5f40;
		--color-link: #000;
		--color-link-hover: #000;
		--color-link-alt: #000;
		--color-type: #000;
		--type-line-opacity: 0.05;
	}

	html {
		scrollbar-width: none;
	}

	body {
		overflow: hidden scroll;
		-ms-overflow-style: none;
	}

	body::-webkit-scrollbar {
		display: none;
	}

	.type {
		position: fixed;
		height: 100vmax;
		text-transform: uppercase;
		width: 100vmax;
		display: grid;
		justify-content: center;
		align-content: center;
		text-align: center;
		top: 50%;
		margin-top: -50vmax;
		will-change: transform;
	}

	.type__line {
		white-space: nowrap;
		font-size: 20vh;
		font-size: clamp(7rem, 18.75vh, 15rem);
		line-height: 0.75;
		font-weight: bold;
		font-family: quiche-sans, sans-serif;
		color: var(--color-type);
		opacity: var(--type-line-opacity);
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		will-change: transform, opacity;
	}
}
